/* main style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

body {
  background: hsl(226, 43%, 10%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100vw;
  min-height: 100vh;
  padding: 3rem 0;
}

h1 {
  font-weight: 400;
  font-size: 24px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  font-weight: 300;
}

button {
  border: none;
  background-color: inherit;
  color: hsl(235, 45%, 61%);
  cursor: pointer;
}

button:hover {
  color: white;
  cursor: pointer;
}

/* profile card */
#profile-container {
  width: 85%;
  background: hsl(235, 46%, 20%);
  border-radius: 1rem;
}

.profile {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
  background: hsl(246, 80%, 60%);
  border-radius: 1rem;
}

.profile img {
  margin-right: 1rem;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
}

#name-container p {
  font-size: 14px;
  color: hsl(236, 100%, 87%);
}

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

#weekly {
  color: white;
}

/* data-cards */
#cards-container {
  width: 85%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cards {
  position: relative;
  padding: 1.5rem;
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
}

.cards:hover {
  background: hsl(235, 45%, 61%);
  cursor: pointer;
}

.cards-header,
.hrs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hrs {
  padding-top: 0.5rem;
}

.hrs p {
  color: hsl(236, 100%, 87%);
  font-size: 12px;
}

/* cards colored icons */
article > img {
  position: absolute;
  top: -8px;
  right: 20px;
}

article {
  padding-top: 2rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.work-card {
  background: hsl(15, 100%, 70%);
}

.play-card {
  background: hsl(195, 74%, 62%);
}

.study-card {
  background: hsl(348, 100%, 68%);
}

.exercise-card {
  background: hsl(145, 58%, 55%);
}

.social-card {
  background: hsl(264, 64%, 52%);
}

.self-care-card {
  background: hsl(43, 84%, 65%);
}

@media screen and (min-width: 900px) {
  main {
    flex-direction: row;
  }

  h1 {
    font-size: 32px;
    font-weight: 300;
  }

  h3 {
    font-size: 40px;
  }

  button {
    padding: 0.5rem 0;
  }

  #profile-container {
    width: 200px;
  }

  .profile {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 200px;
    padding-bottom: 3.5rem;
  }

  .options {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 1.5rem;
  }

  .profile img {
    margin-bottom: 1.5rem;
  }

  #cards-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hrs {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    width: 150px;
  }
}
